@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.flip-animation {
  animation-name: flip;
  animation-duration: 3s; /* Set animation duration to 3 seconds */
  animation-timing-function: ease-in-out;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000033;
  color: #f9d44c;
}

#balance {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.2em;
}

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}

h1 {
  margin-bottom: 30px;
  font-size: 2em;
  text-shadow: 2px 2px 4px #000000;
}

img#coin {
  width: 150px;
  height: 150px;
  border: none;
}

#winlose {
  font-size: 1.5em;
  margin: 20px 0;
}

#wonAmount {
  font-size: 1.2em;
}

label,
input,
select,
button {
  font-size: 1em;
  margin: 5px 0;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: #f9d44c;
  color: #000;
  font-size: 1.1em;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #f9b423;
}

button:disabled {
  background: #f9d44c4d;
}
