body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    position: center;
}

#balance {
    position: absolute;
    top: 10px;
    right: 10px;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 800px; /* You can adjust this to your liking */
    margin: 0 auto; /* This centers the game horizontally */
    padding: 20px; /* Adding some padding for aesthetic */
    box-sizing: border-box; /* This ensures the padding doesn't increase the box width */
}
